In [24]:
import json
import pandas as pd

with open("data_and_ai.json", "r") as read_file:
    data = json.load(read_file)

TypeError: string indices must be integers

In [62]:
job = data[0]
job['technical_sc']


column_names = {}
levels = ['L1', 'L2', 'L3', 'L4', 'L5', 'L6']

for skill, level in job['technical_sc'].items():
    index = levels.index(level)
    for lvl in levels[:index+1]:
        column_names[ skill + " " + lvl ] = 1
    if index + 1 != 6:
        for lvl in levels[index+1:]:
            column_names [ skill + " " + lvl ] = 0

comparison_df = pd.DataFrame( column_names, index = [ job['job_role'] ] )
comparison_df

,Business Innovation L1,Business Innovation L2,Business Innovation L3,Business Innovation L4,Business Innovation L5,Business Innovation L6,Business Needs Analysis L1,Business Needs Analysis L2,Business Needs Analysis L3,Business Needs Analysis L4,...,Stakeholder Management L3,Stakeholder Management L4,Stakeholder Management L5,Stakeholder Management L6,Text Analytics and Processing L1,Text Analytics and Processing L2,Text Analytics and Processing L3,Text Analytics and Processing L4,Text Analytics and Processing L5,Text Analytics and Processing L6
Artificial Intelligence Applied Researcher,1,1,1,1,1,0,1,1,1,1,...,1,1,0,0,1,1,1,1,1,1